media-stack/*/config/logs/*
media-stack/*/config/*.db
media-stack/*/config/*.db-shm
media-stack/*/config/*.db-wal
media-stack/*/config/config.xml
media-stack/qbittorrent/config/qBittorrent/qBittorrent-data.conf
media-stack/prowlarr/config/asp/*
media-stack/radarr/config/asp/*
media-stack/sonarr/config/asp/*
media-stack/jellyfin/config/.aspnet/*
media-stack/jellyfin/config/log/*
media-stack/jellyfin/config/cache/*
media-stack/jellyfin/config/data/jellyfin.db
media-stack/prowlarr/config/prowlarr.pid
media-stack/radarr/config/radarr.pid
media-stack/sonarr/config/sonarr.pid
media-stack/qbittorrent/config/qBittorrent/lockfile
media-stack/qbittorrent/config/qBittorrent/rss/articles/storage.lock
media-stack/qbittorrent/config/qBittorrent/rss/storage.lock
media-stack/jellyfin/config/database.xml
media-stack/jellyfin/config/encoding.xml
media-stack/jellyfin/config/logging.default.json
media-stack/jellyfin/config/system.xml
media-stack/jellyfin/config/.jellyfin-config
media-stack/jellyfin/config/data/device.txt
media-stack/jellyfin/config/data/plugins/configurations/*
media-stack/jellyfin/config/data/data/ScheduledTasks/*
media-stack/prowlarr/config/Definitions/*
media-stack/gluetun/servers.json
media-stack/qbittorrent/config/qBittorrent/GeoDB/*
media-stack/qbittorrent/config/qBittorrent/categories.json
media-stack/qbittorrent/config/qBittorrent/rss/feeds.json
media-stack/qbittorrent/config/qBittorrent/watched_folders.json
media-stack/qbittorrent/config/qBittorrent/qBittorrent.conf
media-stack/.gitignore
